@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ad3636;
    overflow: scroll;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: #1a1818;
    color: #C4DAD2;
}

.outerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 550px;
    min-height: 300px;
    gap: 10px;
    min-width: 250px;
}

.scoreBox {
    padding: 20px;
    display: flex;
    max-height: 250px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(48, 48, 48);
    border-radius: 5px;
    background-color: #ffffff;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
}

.result p {
    width: 250px;
    font-weight: 900;
    color: white;
    margin-bottom: 5px;
}

.imgDiv {
    min-height: 120px;
    min-width: 120px;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    font-size: 28px;
    font-weight: 500;
}

.images {
    border-radius: 50%;
    height: 40vw;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 16px;
    object-fit: cover;
    border: 5px solid #263a2900;
    transition: all 0.4s ease;
}

.images:hover {
    transform: scale(1.1);
    border: 5px solid #e3c3ff;
}




#score-results {
    display: flex;
    justify-content: space-between;
    width: 85%;
    gap: 50px;
    font-size: 24px;
    padding-right: 5px;
}

#yourScore {
    color: green;
}

#draw {
    color: rgb(0, 123, 255);
}

#compScore {
    color: red;
}


#score {
    margin-bottom: 12px;
}

#draw-text {
    color: rgb(0, 123, 255);
    margin: 12px 0;
    font-size: 22px;
}

#score-title {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

#wins {
    color: green;
    margin: 12px 0;
    font-size: 22px;
}

#loose {
    color: red;
    margin: 12px 0;
    font-size: 22px;
}


.reset {
    margin-top: 20px;
    padding: 20px;
    border-radius: 100px;
    transition: 0.4s ease;
}

.reset:hover {
    background-color: rgba(255, 255, 255, 0.242);
}

.reset:active {
    background-color: rgba(245, 245, 245, 0.566);
}

.reset i {
    color: white;
    font-size: 52px;
}

@media screen and (max-width:380px) {
    .result p {
        font-size: 5vw;
    }
}